django
git+git://github.com/Fantomas42/django-blog-zinnia.git#egg=django-blog-zinnia
django-enumfields
django-markdown
django-model-utils
psycopg2>=2.6.2
pylint
pymysql
pytest
six
wheel
git+git://github.com/blagae/elisio.git#egg=elisio
